$dark-bg-color: #121212;
$dark-text-color: #ffffff;
$dark-grey-color: #242424;
$dark-primary-color: #bb86fc;
$dark-secondary-color: #03dac5;

$light-bg-color: #fafafa;
$light-text-color: #000000;
$light-grey-color: #eeeeee;
$light-primary-color: #ff304f;
$light-secondary-color: #002651;
